@import '../../style/theme/function.scss';
@import '../../style/theme/mixins.scss';

.Home {
    width: 100%;
    padding-top: vm(50);
    background: url(../../assets/img/rbg.jpg)no-repeat;
    background-size: 100% 100%;
}