html,
body,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html {
    font-size: vm(18);
    box-sizing: border-box;

    img {
        pointer-events: none;

        &.have-event {
            pointer-events: all;
        }
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

*:active,
*:focus {
    outline: none;
}

img {
    display: block;
}

ul,
li,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

i,
u,
b {
    font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
    padding: 0;
}

a {
    // color: $--color-primary;
}

// 进度条样式
::-webkit-scrollbar {
    width: vm(5);
    height: vm(5);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    width: vm(5);
    background-color: #a1a7aa;
}

// 消除浮动
.clearfix:before,
.clearfix:after {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

/* 清除浮动 */
.ks-clear:after,
.clear:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}

.ks-clear,
.clear {
    *zoom: 1;
}