@import '../theme/function.scss';
@import '../theme/mixins.scss';
// 重写分页样式
.el-pagination{
    text-align:center;
    padding-top:vm(12)!important;
    display: flex;
    align-items: center;
    justify-content: center;
    >button{
        background:transparent!important;
        color:#849DCD!important;
    }
    >ul > li {
        width:vm(30)!important;
        height:vm(30)!important;
        background:transparent!important;
        color:#fff!important;
        line-height: vm(30);
    }
    >ul > .active {
        background:rgba(54, 120, 213, 0.24)!important;
        border: 1px solid rgba(97, 151, 227, 0.7);
        border-radius:2px!important;
    }
    .el-pagination__total {
        color: rgba(170, 189, 212, 1);
    }
    >.el-pagination__jump {
        color: #849DCD;
    }
    >.el-pagination__jump .el-pagination__editor .el-input__inner{
        width:vm(30)!important;
        height:vm(30)!important;
        border:1px solid #849DCD!important;
    }
}
.el-table {
    background: transparent;
    color: #ffffff;
    .el-table__empty-text {
        color: #ffffff;
    }
    thead {
        color: #ffffff;
    }
    tr {
        background: transparent;
    }
    th {
        background:rgba(159,203,255,.2);
    }
    td {
        border-bottom: 1px solid rgba(170, 189, 212, .4);
        padding: 18px 0;
    }
    th.is-leaf {
        border-bottom: none;
    }
    &.el-table--enable-row-hover .el-table__body tr:hover > td {
        background:rgba(167,206,252,.3);
    }
    &.el-table--enable-row-hover .el-table__body tr:hover {
        .btn-group {
            display: flex;
        }
    }
    .btn-group {
        display: none;
        justify-content: space-around;
        .el-button {
            border: none;
            background-color: transparent;
            padding: 0;
            width: 36px;
            height: 36px;
            margin: 0;
        }
        .look-btn,.edit-btn,.delete-btn {
            display:  block;
            width: 36px;
            height: 36px;
            background-size: 100% 100% !important;
            background-repeat: no-repeat;
            margin: 0 10px;
        }
        .edit-btn {
            background-image: url('../../assets/edit-btn@2x.png');
        }
        .look-btn {
            background-image: url('../../assets/look-btn@2x.png');
        }
        .delete-btn {
            background-image: url('../../assets/delete-btn@2x.png');
        }
    }
}


// message-box
.el-message-box {
    width:370px;
    height:273px;
    background:linear-gradient(341deg,rgba(23,50,88,1) 0%,rgba(26,37,53,1) 88%,rgba(30,88,152,1) 100%);
    border:1px solid;
    border-image:linear-gradient(154deg, rgba(174,233,255,0), rgba(127,173,255,1)) 1 1;
    &__header {
        border-top: 3px solid rgba(159, 203, 255, 1);
        .el-message-box__title {
            color: #ffffff;
        }
        .el-message-box__close {
            font-size: 20px;
            color: #ffffff;
        }
    }
    &__content {
        padding: 0;
    }
    &__message {
        height: 160px;
        @include flex(row, center, center);
        p {
            color: rgba(170,189,212,1);
        }
        .delete-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .delete-icon {
                display: inline-block;
                width: 18px;
                height: 18px;
                background-image: url('../../assets/delete-user@2x.png');
                background-size: 100% 100%;
                margin-right: 8px;
            }
            .delete-confirm {
                color:rgba(170,189,212,1);
                font-size: 18px;
            }
            .delete-tips {
                color:rgba(110,135,164,1);
                margin-top: 18px;
            }
        }
    }
    &__btns {
        padding: 10px 15px 0;
        border-top: 1px dashed rgba(126, 171, 233, 1);
        .el-button {
            width:116px;
            height:42px;
            color:rgba(170,189,212,1);
            background:rgba(54,120,213,0.24);
            border:1px solid rgba(97,151,227,0.7);
        }
    }
}
.el-textarea__inner {
    color: rgba(170,189,212,1);
}