@import './style/theme/function.scss';
@import './style/theme/mixins.scss';

#app {
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.app__body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}